.mission-section::before {
  content: "01";
}

.mission-text {
  line-height: 1.6;
}

.mission-image {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.mission-button {
  width: 10vw;
}

@media (max-width: 800px) {
  .sacadon-container {
    flex-direction: column;
  }

  .mission-image {
    display: none;
  }

  .mission-button {
    width: 30vw;
  }
}

@media (max-width: 450px) {
  .mission-button {
    width: 55vw;
  }
}