.history {
  background-color: #F4EBDC;
  padding: 10rem 20px 8rem 20px;
  font-family: Arial, sans-serif;
}

/* Container en deux colonnes */
.history-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 155px;
  width: 73vw;
  margin: 0 auto;
}

.history-image {
  position: relative;
  flex: 1;
}

.history-image .image {
  width: 100%;
  /* object-fit: cover; */
}

.history-button {
  margin-top: 40px;
  text-align: center;
}

.history-button button {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Century Gothic';
  background-color: #DB214F;
  color: white;
  padding: 13px 52px;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.history-button button:hover {
  background-color: #cc0052;
}

.history-content {
  flex: 1;
  text-align: left;
  position: relative;
  text-align: right;
}

.history-logo {
  width: 35%;
  position: absolute;
  bottom: 20rem;
  left: 25vw;
  z-index: 1;
}

.history-title {
  font-family: 'Fredoka';
  font-size: 64px;
  font-weight: 600;
  color: #2CA397;
  margin-bottom: 15px;
  margin-left: 50px;
}

.history-subtitle {
  font-family: 'Cormorant Garamond';
  font-size: 40px;
  font-weight: 500;
  color: #DB214F;
  margin-bottom: 20px;
  line-height: 150%;
}

.history-text {
  font-family: 'Century Gothic';
  font-size: 21px;
  color: #223B45;
  line-height: 150%;
  letter-spacing: 1px;
}

.history-text a{
  color: #223B45;
}

.history-text a:hover{
  font-weight: bold;
}