.mission-section::before {
  content: "01";
}

.mission-image {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.mission-button {
  width: 10vw;
}

/* Responsive */
@media (max-width: 900px) {
  .mission-container {
    flex-direction: column;
    text-align: center;
  }

  .mission-text-content,
  .mission-image-content {
    flex: unset;
  }

  .mission-section::before {
    font-size: 6rem;
    top: 10px;
    left: 10px;
  }

  .sacadon-title {
    font-size: 2rem;
  }

  .mission-subtitle {
    font-size: 1.2rem;
  }
}
