.history-section {
  padding: 20vh 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 126px;
  width: 73vw;
  margin: 0 auto;
}

.history-image {
  position: relative;
  flex: 1;
}

.history-image {
  width: 100%;
}  

.history-logo {
  width: 35%;
  position: absolute;
  bottom: 15rem;
  left: 24vw;
  z-index: 1;
}

.history-content {
  flex: 1;
  text-align: right;
}  

.history-title {
  margin-bottom: 15px;
}

.history-subtitle {
  margin-bottom: 20px;
  line-height: 1.1;
}

.history-text {
  letter-spacing: 1px;
}

.history-text a{
  color: #223B45;
}

.history-text a:hover{
  font-weight: bold;
}

@media (max-width: 900px) {
  .history-section {
    flex-direction: column;
  }
}