.solution-section {
  text-align: center;
}

.solution-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 64vw;
  margin: 50px auto;
}

.solution-card {
  background: #fff;
  border-radius: 20px;
  padding: 60px 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.solution-card:hover {
  transform: translateY(-5px);
}

.solution-card img {
  width: 130px;
  margin-bottom: 20px;
}

.title-card {
  font-weight: 600;
  font-size: 32px;
  height: 80px;
}

.label-card {
  position: relative;
  top: 20px;
}

.text-card {
  font-size: 20px;
  margin-top: 10px;
}

.solution-button {
  width: 10vw;
}