.solution {
  background-color: #F4EBDC;
  text-align: center;
  font-family: 'Fredoka';
}

/* Titre */
.solution-title {
  font-size: 64px;
  font-weight: 600;
  color: #2CA397; /* vert canard */
  margin-top: 0px;
  margin-bottom: 50px;
}

/* Grille */
.solution-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 64vw;
  margin: 0 auto 50px auto;
}

/* Carte */
.solution-card {
  background: #fff;
  border-radius: 20px;
  padding: 60px 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.solution-card:hover {
  transform: translateY(-5px);
}

/* Icônes */
.solution-card img {
  width: 130px;
  margin-bottom: 20px;
}

.title-card {
  font-family: 'Fredoka';
  font-weight: 600;
  font-size: 32px;
  color: #223B45;
  height: 80px;
}

.title-card div {
  padding-top: 20px;
}

.text-card {
  font-family: 'Century Gothic';
  font-weight: 400;
  font-size: 20px;
  color: #223B45;
  margin-top: 10px;
  line-height: 150%;
}
