.probleme-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2vh 15vh;
}

.probleme-top-section {
  display: flex;
  gap: 30vw;
  justify-content: space-between;
  width: 92%;
}

.probleme-section-subtitle {
  margin-top: 1rem;
  margin-bottom: 2rem;
}  

.probleme-intro {
  font-size: 21px;
  width: 24vw;
  letter-spacing: 1px;
  line-height: 1.6;
  position: relative;
  right: 6rem;
}

.probleme-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  width: 89vw;
  align-items: center;
}  

.pollution-image {
  border-radius: 50px;
  width: 100%;
}  

.probleme-text-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  bottom: 1.5rem;
}  

.probleme-card {
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 30px;
  padding: 2rem 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-number {
  margin: auto 19px;
  width: 13rem;
}

.card-text {
  font-size: 19px;
  width: 17rem;
  line-height: 1.3;
}

.source, .source a {
  font-family: 'Century Gothic';
  font-size: 19px;
  color: #223B45;
  text-align: center;
  margin-left: 5px;
  margin-top: 15px;
}

@media (max-width: 900px) {
  .probleme-top-section {
    flex-direction: column;
    gap: 0
  }

  .probleme-intro {
    font-size: 25px;
    position: inherit;
    width: auto;
  }

  .probleme-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5rem;
  }

  .img-content {
    width: 80vw;
    margin: auto;
  }

  .source {
    display: none;
  }

  .card-text {
    font-size: 22px;
  }
}

@media (max-width: 450px) {
  .probleme-card {
    flex-direction: column;
  }
}