.body {
  position: relative;
  z-index: 1;
  overflow: visible; /* ne pas couper le menu */
}

.mission-section {
  padding: 100px 40px;
  position: relative;
}

.mission-section::before {
  content: "01";
  font-family: Fredoka;
  position: absolute;
  top: 10px;
  left: -40px;
  font-size: 200px;
  font-weight: 500;
  color: rgba(200, 0, 0, 0.1);
}

.mission-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin: 0 auto;
  position: relative;
}

.mission-text-content {
  flex: 1;
  position: relative;
  bottom: 9vh;
  right: 2vw;
  padding-left: 5vw;
  font-family: Fredoka;
}

.mission-title {
  font-family: Fredoka;
  font-size: 90px;
  font-weight: 600;
  color: #223B45;
  margin-top: 40px;
  margin-bottom: 15px;
}

.mission-subtitle {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Cormorant Garamond';
  color: #DB214F;
  margin: 16px 0;
}

.mission-subtitle span {
  font-weight: 500;
}

.mission-text {
  font-family: 'Century Gothic';
  font-size: 25px;
  color: #223B45;
  line-height: 1.6;
}

.mission-image-content {
  flex: 1;
  text-align: center;
  position: relative;
  bottom: 5rem;
}

.mission-image {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Responsive */
@media (max-width: 900px) {
  .mission-container {
    flex-direction: column;
    text-align: center;
  }

  .mission-text-content,
  .mission-image-content {
    flex: unset;
  }

  .mission-section::before {
    font-size: 6rem;
    top: 10px;
    left: 10px;
  }

  .mission-title {
    font-size: 2rem;
  }

  .mission-subtitle {
    font-size: 1.2rem;
  }
}
