.faq-section {
  background-color: #f9ecdc;
  padding: 60px 30px 8rem 30px;
}

.faq-title {
  width: 60vw;
  position: relative;
  margin: 40px 40px;
  text-align: center;
}

.faq-title::before {
  content: "FOIRE AUX QUESTIONS";
  font-family: Fredoka;
  position: absolute;
  bottom: 30px;
  left: 0;
  font-size: 105px;
  font-weight: 700;
  color: rgba(200, 0, 0, 0.1);
}

.faq-title-pages {
  text-align: center;
}

.faq-subtitle {
  margin-left: 10vw;
}  

.faq-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  width: 75vw;
  margin: 10vh auto 0 auto;
  text-align: center;
}

.faq-card {
  background-color: #F5F2ED;
  padding: 25px;
  border-radius: 56px;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 33vw;
}

.faq-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.faq-question {
  color: #223B45;
  font-family: 'Fredoka';
  font-size: 30px;
  margin: 8px 0;
}

.faq-answer {
  color: #223B45;
  font-family: 'Century Gothic';
  font-size: 20px;
  line-height: 150%;
  white-space: pre-line;
}

.faq-button {
  width: 17vw;
  padding: 15px 20px;
  margin-top: 60px;
}
