.bags-section {
  padding: 100px 40px 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  margin: 0 auto;
  position: relative;
}

.bags-section::before {
  content: "02";
  font-family: Fredoka;
  position: absolute;
  top: 10px;
  left: -40px;
  font-size: 200px;
  font-weight: 500;
  color: rgba(200, 0, 0, 0.1);
}  

.bags-text-content {
  flex: 1;
  position: relative;
  bottom: 6vh;
  right: 2vw;
  padding-left: 5vw;
}

.bags-title {
  margin-top: 40px;
  margin-bottom: 15px;
}

.bags-subtitle {
  margin: 16px 0;
}

.bags-text {
  line-height: 1.6;
}

/* .bags-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 38rem;
}

.bags-filtre {
  color: #DB214F;
  font-weight: 600;
  font-size: 20px;
  padding: 12px 30px;
  border: solid 1px #DB214F;
  border-radius: 15px;
  transition: all 0.3s ease;
  width: 3vw;
}

.bags-filtres {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.bags-button {
  background-color: #DB214F;
  color: white;
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.3s ease;
  display: flex;
  width: 8vw;
  font-size: 20px;
  margin: auto;
}

.bags-button div {
  margin: auto;
}

.bags-button:hover {
  background-color: #a71e2d;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}   */

.bags-image-content {
  flex: 1;
  text-align: center;
  position: relative;
  bottom: 6rem;
}  

.bags-image-content img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}  

/* .bags-mode {
  background-color: #DB214F;
  color: white;
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 15px;
  text-decoration: none;
  transition: all 0.3s ease;
  display: flex;
  width: 9vw;
  font-size: 20px;
  margin: auto;
}

.bags-mode:hover {
  background-color: #a71e2d;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}   */

@media (max-width: 900px) {
  .bags-container {
    flex-direction: column;
    text-align: center;
  }

  .bags-text-content,
  .bags-image-content {
    flex: unset;
  }

  .bags-section::before {
    font-size: 6rem;
    top: 10px;
    left: 10px;
  }

  .bags-title {
    font-size: 2rem;
  }

  .bags-subtitle {
    font-size: 1.2rem;
  }
}
