.upscale-image {
  width: 96%;
}  

.upscale-card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 30px;
  padding: 22px 1rem;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 92%;
}

.upscale-card-title {
  margin: auto 0px;
}

.upscale-card-text {
  font-size: 20px;
  line-height: 150%;
}

.upscale-card-text2 {
  font-family: 'Century Gothic';
  font-size: 21px;
  font-weight: 600;
  color: #DB214F;
  line-height: 150%;
  width: 100%;
  margin: 0;
}
