.message-container {
  width: 77vw;
  gap: 67px;
}

.message-text-container {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 30px;
}

.message-title {
  margin-bottom: 30px;
  font-size: 60px;
}

.message-paragraph {
  margin-bottom: 40px;
}

.message-button {
  margin: 0;
  width: 12vw;
  padding: 15px 60px;
}