.peda-section {
  width: 78vw;
  margin: 20px auto;
}

.peda-logo {
  margin: 80px auto;
}

.peda-card {
  border-radius: 50px;
  padding: 30px;
}

.peda-text {
  width: 38vw;
  margin: auto;
  text-align: center;
}
