.our-solution-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  text-align: center;
}

.titre {
  font-size: 96px;
  font-weight: 700;
  font-family: Fredoka;
  color: #223B45;
  position: relative;
  z-index: 1;
}

.soustitre {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Cormorant Garamond';
  color: #DB214F;
  margin-bottom: 40px;
}

/* Texte explicatif */
.texte-section {
  max-width: 700px;
  color: #2F3A40;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 60px;
}

.texte-section p {
  margin: 16px 0;
}

/* Image */
.image-container {
  background-color: white;
  padding: 24px;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.image-cycle {
  width: 100%;
  border-radius: 20px;
}
