.impact-section {
  text-align: center;
  padding: 0 20px;
}

.impact-titre {
  font-weight: 700;
  margin-bottom: 16px;
}

.impact-soustitre {
  width: 55vw;
  font-size: 36px;
  margin: 30px auto;
  line-height: 150%;
}

.impact-avantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 55px 0;
}

.card-avantages {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  padding: 20px 30px;
  font-size: 25px;
  color: #223B45;
  width: 220px;
  line-height: 150%;
}

.impact-button {
  width: 390px;
}
