.humanite-section {
  padding: 90px 125px;
}

.humanite-titre {
  margin-bottom: 50px;
}

.humanite-contenu {
  display: flex;
  gap: 216px;
  /* flex-wrap: wrap; */
  /* text-align: left; */
}

.texte-gauche {
  width: 28vw;
}

.texte-principal {
  font-size: 46px;
  line-height: 1.6;
  margin: 0;
}

.texte-secondaire {
  font-size: 25px;
  margin-top: 10px;
}

.actions-droite {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.card-humanite {
  font-family: Fredoka;
  font-size: 32px;
  background-color: white;
  border-radius: 20px;
  padding: 20px 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  color: #223B45;
  text-align: center;
  width: 43vw;
}

.humanite-button {
  width: 420px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .humanite-contenu {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .texte-gauche {
    text-align: center;
  }

  .actions-droite {
    align-items: center;
  }
}