.impact-section {
  text-align: center;
  padding: 0 20px;
}

.impact-titre {
  margin-bottom: 16px;
  font-size: 70px;
}

.impact-soustitre {
  width: 55vw;
  font-size: 36px;
  margin: 30px auto;
  line-height: 1.5;
}

.impact-avantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 55px 0;
}

.card-avantages {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  padding: 20px 30px;
  width: 220px;
  line-height: 1.5;
  display: flex;
  align-items: center;
}

.impact-button {
  width: 390px;
}
