.our-solution-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 140px 20px;
  text-align: center;
}

.titre {
  width: 60vw;
  font-size: 145px;
  font-weight: 700;
  font-family: Fredoka;
  color: #223B45;
  position: relative;
}

.titre::before {
  content: "NOTRE SOLUTION";
  font-family: Fredoka;
  position: absolute;
  bottom: 31px;
  left: 10px;
  font-size: 180px;
  font-weight: 500;
  color: rgba(200, 0, 0, 0.1);
}

.soustitre {
  font-size: 60px;
  font-weight: 500;
  font-family: 'Cormorant Garamond';
  color: #DB214F;
  margin-top: 40px;
  margin-bottom: 40px;
}

.texte-section {
  font-family: 'Century Gothic';
  max-width: 70vw;
  color: #223B45;
  font-size: 33px;
  line-height: 150%;
  margin: 16px 0 60px 0;
}

.our-solution-section img {
  width: 30%;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
