.our-solution-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 20px;
  text-align: center;
}

.titre-solution {
  width: 55vw;
  font-weight: 700;
  position: relative;
}

.titre-solution::before {
  content: "NOTRE SOLUTION";
  font-family: Fredoka;
  position: absolute;
  bottom: 25px;
  left: 3px;
  font-size: 124px;
  font-weight: 500;
  color: rgba(200, 0, 0, 0.1);
}

.our-solution-soustitre {
  width: 55vw;
  margin: 15px auto 20px;
}

.texte-section {
  width: 70vw;
  line-height: 1.5;
}

.our-solution-section img {
  width: 35%;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
