.body {
  background-color: #F4EBDC;
}

.need-more-button {
  background-color: #DB214F;
  color: white;
  font-weight: 600;
  font-size: 23px;
  padding: 12px 40px;
  border-radius: 15px;
  text-decoration: none;
  transition: all 0.3s ease;
  margin: 15px auto 0 auto;
  z-index: 1111;
  text-align: center;
}

.need-more-button:hover {
  background-color: #a71e2d;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.sacadon-title {
  color: #223B45;
  font-family: Fredoka;
  font-size: 90px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 15px;
}

.sacadon-title2 {
  color: #2CA397;
  font-family: Fredoka;
  font-size: 64px;
  font-weight: 700;
}

.sacadon-text {
  color: #DB214F;
  font-family: 'Cormorant Garamond';
  font-size: 40px;
}

.sacadon-text2 {
  color: #223B45;
  font-family: 'Century Gothic';
  font-size: 25px;
  line-height: 1.6;
}

.sacadon-card {
  background-color: #F5F2ED;
}