header {
  background-size: cover;
  background-image:url('../assets/background-header.png');
  background-position: center 33%;
  background-repeat: no-repeat;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 3.6vw;
  height: 19vh;
  position: relative;
  left: 0;
}

.header img {
  height: auto;
  width: 18vw;
  object-fit: contain;
  /* position: relative;
  top: 1vh; */
}

nav {
  height: 8vh;
  width: 61vw;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1.5vw;
}  

a {
  text-decoration: none;
  color: #233B45;
}

h2 {
  background-color: #F5EBDB;
  margin-top: 11px;
  font-family: Century Gothic;
  border-radius: 50px;
  font-size: 1.2vw;
  padding: 2vh 2vw;
  text-align: center;
}  

.shopping {
  position: absolute;
  left: 90vw;
  top: 5vh;
  float: right;
}

.shopping img {
  height: auto;
  width: 5vw;
}

.menu {
  display: none ;
}

@media (max-width: 768px) {
  nav, .shopping {
    display: none;
  }

  .header {
   height: 15vh;
   justify-content: center;
  }

  .header img {
    width: 50vw;
  }

  .menu {
    display: block;
    position: absolute;
    left: 87vw;
    top: 4vh;
    float: right;
  }
}

@media (max-width: 426px) {
  .header {
    height: 10vh;
  }

  .header img {
    width: 75vw;
  }

  .menu {
    left: 85vw;
    top: 3vh;
  }

  .menu img {
    width: 10vw;
  }
}