header {
  background-size: cover;
  background-image:url('../assets/header_footer/background_header.png');
  background-position: center 33%;
  width: 100%;
  position: relative;
  z-index: 1000;
}  

.header {
  display: flex;
  align-items: center;
  gap: 3.6vw;
  height: 19vh;
  position: relative;
  left: 0;
}    

.logo_header img {
  height: auto;
  width: 18vw;
  object-fit: contain;
}    

.nav_header {
  height: 8vh;
  width: 61vw;
}  

.nav_header ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 2.5vw;
}  

.btn_header {
  text-decoration: none;
  font-family: Century Gothic;
  font-size: 1.2vw;
  font-weight: bold;
  color: #223B45;
  background-color: #F5EBDB;
  margin: 0;
  margin-top: 11px;
  padding: 2vh 2vw;
  border: 0;
  border-radius: 50px;
  text-align: center;
}      

.impact {
  position: relative;
  top: 2rem;
}      

/* Mennu Impact */
.dropdown-menu {
  width: 16rem;
  position: absolute;
  top: 9rem;
  left: 53.5rem;

  opacity: 0;
  transition: all 0.3s ease;
}

.dropdown-menu.open {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-menu ul {
  flex-direction: column;
  gap: 10px
}  

.btn_nav_impact {
  text-decoration: none;
  color: #F4EBDC;
  background-color: #DB214F;
  font-family: Century Gothic;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  padding: 2vh 1vw;
  text-align: center;
}
/* Mennu Impact */

.shopping {
  position: absolute;
  left: 90vw;
  top: 5vh;
  float: right;
  width: 5vw;
}    

@media (max-width: 1440px) {
  .nav_impact, .nav_impact.down {
    right: 42vw;
  }
}

@media (max-width: 768px) {
  .nav_header , .shopping, .nav_impact, .nav_impact.down {
    display: none;
  }

  .header {
   height: 15vh;
   justify-content: center;
  }

  .header img {
    width: 50vw;
  }

  .menu {
    display: block;
    position: absolute;
    left: 87vw;
    top: 4vh;
    float: right;
  }
}

@media (max-width: 426px) {
  .header {
    height: 10vh;
  }

  .header img {
    width: 75vw;
  }

  .menu {
    left: 85vw;
    top: 3vh;
  }

  .menu img {
    width: 10vw;
  }
}