header {
  background-size: cover;
  background-image:url('../assets/background-header.png');
  background-position: center 33%;
  background-repeat: no-repeat;
  width: 100%;
}

.header {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 3.6vw;
  height: 16vh;
  width: 95%;
  position: relative;
  left: 0;
}

.logo_header img {
  height: auto;
  width: 18vw;
  object-fit: contain;
  position: relative;
  top: 1vh;
}

nav {
  height: 8vh;
  width: 61vw;
  /* justify-content: center; */
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1.5vw;
}  

a {
  text-decoration: none;
  color: #233B45;
}

h2 {
  background-color: #F5EBDB;
  margin-top: 11px;
  font-family: Century Gothic;
  border-radius: 50px;
  font-size: 1.2vw;
  padding: 2vh 2vw;
  /* flex-wrap: wrap; */
  text-align: center;
}  

.shopping {
  position: absolute;
  left: 91vw;
  top: 7vh;
  float: right;
}

.shopping img {
  height: auto;
  width: 5vw;
}

@media (max-width: 768px) {
  header {
    height: 15vh;
  }
}