.end-container {
  padding: 30px 20px 100px;
  text-align: center;
}

.end-quote {
  line-height: 1.6;
}

.end-title {
  font-size: 64px;
  margin-top: 100px;
}

.end-subtitle {
  margin-bottom: 60px;
}

.end-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 45vw;
  margin: auto;
}

.end-btn {
  padding: 12px 50px;
}

@media (max-width: 850px) {
  .agir-title {
    end-size: 36px;
  }

  .agir-subtitle {
    end-size: 20px;
  }

  .agir-quote {
    end-size: 22px;
  }
}
