.our-history-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 20px 20px;
  text-align: center;
}

.titre-history {
  width: 52vw;
  position: relative;
}

.titre-history::before {
  content: "NOTRE HISTOIRE";
  font-family: Fredoka;
  position: absolute;
  bottom: 25px;
  left: 3px;
  font-size: 124px;
  font-weight: 500;
  color: rgba(200, 0, 0, 0.1);
}
