.origine-container {
  width: 75vw;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 80px 40px;
  flex: 1;
  gap: 45px;
}

.origine-image {
  width: 47%;
  height: auto;
  border-radius: 40px;
  object-fit: cover;
}

.origine-text-card {
  flex: 1;
  max-width: 600px;
  background: white;
  padding: 20px 60px;
  border-radius: 35px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.origine-title {
  margin-bottom: 30px;
  line-height: 1.2;
}

.origine-paragraph {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 25px;
}

@media (max-width: 1000px) {
  .origine-container {
    flex-direction: column;
    text-align: left;
  }

  .origine-text-card {
    max-width: 90%;
  }

  .origine-title {
    font-size: 36px;
  }
}
