.label-section {
  width: 84vw;
  margin: auto;
}

.label-titre {
  margin-bottom: 10px;
  text-align: right;
}

.label-subsection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9vw;
}

.label-section img {
  border-radius: 12px;
  width: 714px;
  height: 530px;
}  

.label-contenu {
  text-align: right;
  width: 714px;
  height: 530px;
}  

.label-texte {
  font-size: 25px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.label-texte span {
  margin-right: 6px;
}

.button {
  display: flex;
}

.button a {
  width: 218px;
}

@media (max-width: 900px) {
  .label-section {
    flex-direction: column;
    text-align: center;
  }

  .label-contenu {
    text-align: center;
  }

  .label-section img {
    width: 100%;
    max-width: 400px;
    height: 300px;
  }

  .button {
    justify-content: center;
  }
}