.partners-section {
  width: 78vw;
  margin: 0 auto;
  padding: 135px 0;
}

.partners-title {
  text-align: center;
  margin-bottom: 10px;
}

.partners-subtitle {
  text-align: center;
  margin-bottom: 40px;
}

.partners-desc {
  margin: 0 auto 50px;
}

.partners-logos {
  display: flex;
  justify-content: center;
  gap: 45px;
  flex-wrap: wrap;
}

.partners-logos img {
  width: 260px;
  height: 130px;
  object-fit: contain;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
