.plastic-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 60px 0;
}

.plastic-images {
  position: relative;
}

.image-large {
  width: 880px;
  height: auto;
  border-radius: 50px;
  object-fit: cover;
}

.image-small {
  width: 400px;
  height: auto;
  border-radius: 30px;
  object-fit: cover;

  position: absolute;
  bottom: -40px;
  right: -40px;
}

.plastic-card {
  background: white;
  padding: 40px 45px;
  width: 440px;
  border-radius: 40px;
}
