.response-container {
  display: flex;
  flex-direction: column;
  width: 83vw;
  margin-left: 155px;
}

.response-container_bis {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 3vw 0;
  border-radius: 40px;
  margin: 40px auto;
  gap: 70px;
}

.response-left {
  flex: 1;
}

.response-image {
  width: 42%;
  border-radius: 35px;
  object-fit: cover;
}

.response-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 55px;
}

.response-box {
  background: white;
  border-radius: 12px;
  padding: 13px 80px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 24px;
}

