.response_bis-wrapper {
  padding: 80px 0;
  text-align: center;
}

.response_bis-grid {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 30px;
}

.response_bis-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 460px;
}

.response_bis-subtitle {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.response_bis-card {
  background: white;
  border-radius: 14px;
  padding: 22px 25px;
  width: 100%;
  margin-bottom: 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  font-weight: bold;
  line-height: 1.3;
}

.bis {
  padding: 38px 25px;
}
