.symbole-container {
  width: 77vw;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  padding: 40px 40px 150px;
}

.symbole-image {
  width: 50%;
  height: auto;
  border-radius: 40px;
}

.symbole-title {
  line-height: 150%;
}

.symbole-button {
  width: 14vw;
  margin: 50px 0 0;
}
